.messages__box{data: {message: {id: message.id}}}
  .messages__box__username
    .user-name
      = message.user.name
    .date-and-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .lower-message
    - if message.content.present?
      %p.comment
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?