.chat-side
  .side-header
    .side-box 
      .user-name masa
      %ul.menu
        = link_to "#", class: "new-group" do
          %i.fa.fa-edit
        = link_to "#", class: "edit-user" do
          %i.fa.fa-cog
  .groups
    %p.group-name techcamp
    %p.group-message まだメッセージがありません
  .groups
    %p.group-name techcamp
    %p.group-message まだメッセージがありません
  .groups
    %p.group-name techcamp
    %p.group-message まだメッセージがありません
  .groups
    %p.group-name techcamp
    %p.group-message まだメッセージがありません
  .groups
    %p.group-name techcamp
    %p.group-message まだメッセージがありません