.chat-side
  .side-header
    .side-header__box
      .user-name
        = current_user.name
      %ul.menu
        = link_to "#", class: "new-group" do
          %i.fa.fa-edit
        = link_to  edit_user_path(current_user), class: "edit-user" do
          %i.fa.fa-cog
  .groups
    %p.groups-name techcamp
    %p.groups-message まだメッセージがありません
  .groups
    %p.groups-name techcamp
    %p.groups-message まだメッセージがありません
  .groups
    %p.groups-name techcamp
    %p.groups-message まだメッセージがありません
  .groups
    %p.groups-name techcamp
    %p.groups-message まだメッセージがありません
  .groups
    %p.groups-name techcamp
    %p.groups-message まだメッセージがありません